body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("back.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  text-align: start;
  background-color: rgb(220, 221, 221);
  color: black;
  margin: 30px;
  padding: 90px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  width: 1000px;
  height: 400px;
  opacity: 0.93;
  list-style: url('list.png');
  font-weight: bold;
  font-family: 'Cabin Condensed', sans-serif;
  letter-spacing: 1px;
}

.list{
  margin: 80px;
  padding-left: 300px;
  text-align: start;
  font-size: larger;
}

h1{
  text-align: center;
}

.card:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

#submit{
  background-color: rgb(220, 221, 221);
  border-style: solid;
  border-color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 100px;
  height: 50px;
  letter-spacing: 1px;
}

#submit:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

#input{
  display: flex;
  justify-content: center;
}

#employee{
  background-color: rgb(220, 221, 221);
  border-style: solid;
  border-color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 150px;
  height: 44px;
  letter-spacing: 1px;
}

#employee:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

#btn{
  margin-top: 100px;
  margin-left: 400px;
  background-color: rgb(220, 221, 221);
  border-style: solid;
  border-color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 200px;
  height: 60px;
  letter-spacing: 1px;
}

#btn:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.animation{
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 100px;
 }
svg{font-weight:bold;max-width:600px;height:100%;}